/JavaApplication7/nbproject/private/
/CRUD/nbproject/private/
/CRUD/build/
/EmployeeCRUD/nbproject/private/
/TestXML/nbproject/private/
/TestXML/build/
/EmployeeCRUD/build/
/ClassPrac/nbproject/private/
/ClassPrac/build/
/EvdCRUD/nbproject/private/
/EvdCRUD/build/
/Teacher/nbproject/private/
/WebApplication1/nbproject/private/
/WebApplication1/build/
